<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>eCom | Products</title>
</head>
<body>
<div th:replace="layout :: navbar"></div>
<div th:fragment="content" class="container my-6 px-3">
    <h1 class="py-2">List Products</h1>

    <div th:if="${product != null}">
        <form th:action="@{/products}" method="post" class="py-2">
            <div class="form-group">
                <label for="productNameEdit">Product Name</label>
                <input type="text" name="id" th:value="${product.id}" hidden="true">
                <input type="text" class="form-control" id="productNameEdit" name="name" th:value="${product.name}" required>
            </div>
            <div class="form-group">
                <label for="productDescriptionEdit">Description</label>
                <input type="text" class="form-control" id="productDescriptionEdit" name="description" th:value="${product.description}" required>
            </div>
            <div class="form-group">
                <label for="productPriceEdit">Price</label>
                <input type="number" step="0.01" class="form-control" id="productPriceEdit" name="price" th:value="${product.price}" required>
            </div>
            <div class="form-group mb-2">
                <label for="productCategoryEdit">Category</label>
                <select class="form-select" id="productCategoryEdit" name="category" required>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${product.category != null ? product.category.id == category.id : false}"></option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="formFileEdit" class="form-label">Image</label>
                <img th:src="${UPLOAD_DIRECTORY + product.imageUrl}" alt="Product image" width="50" height="50"/>
                <input class="form-control" name="image" accept="image/*" type="file" id="formFileEdit">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <!-- Add Product Form -->
    <div th:unless="${product != null}">
        <form th:action="@{/products}" method="post" class="py-2" enctype="multipart/form-data">
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" name="name" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Description</label>
                <input type="text" class="form-control" id="productDescription" name="description" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Price</label>
                <input type="number" step="0.01" class="form-control" id="productPrice" name="price" required>
            </div>
            <div class="form-group">
                <label for="productCategory">Category</label>
                <select class="form-select" id="productCategory" name="category" required>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" name="image" accept="image/*" type="file" id="formFile" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <table class="table py-2">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row" th:text="${product.id}"></th>
            <td><img th:src="${UPLOAD_DIRECTORY + product.imageUrl}" alt="Product image" width="50" height="50"/></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category != null ? product.category.name : 'No category'}"></td>
            <td class="actions">
                <a th:href="@{/products/{id}(id=${product.id})}">
                    <button class="btn btn-primary">Edit</button>
                </a>
                <form th:action="@{/products/{id}(id=${product.id})}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${products.number > 0}">
                    <a class="page-link" th:href="@{/products(size=${products.size}, page=${products.number - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${products.number <= 0}">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, products.totalPages - 1)}"
                    th:class="${pageNumber == products.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/products(size=${products.size}, page=${pageNumber})}"
                       th:text="${pageNumber + 1}"></a>
                </li>
                <li class="page-item" th:if="${products.number < 0 }">
                    <a class="page-link" th:href="@{/products(size=${products.size}, page=${products.number + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${products.number >= 0}">
                    <a class="page-link"th:href="@{/products(size=${products.size}, page=${products.number + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
        </tbody>
    </table>
</div>

</body>
</html>